<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Alllisting</h2>
    <ul>
        <form method="get" action="/listings/new">
            <button>New user</button>
        </form>
        <% for(let list of allListing){%>
            <li><a href="/listings/<%=list._id%>"><%= list.title %></a></li>
            
        <%}%>
    </ul>
</body>
</html>