<% layout("/layouts/boilerplate")%>
<div class="row">
<div class="col-8  offset-2 ">
<h2>Create a new Listing</h2>
<form method="post" action="/listings">
<div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" name="listing[title]" placeholder="enter title" class="form-control" style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;">
</div>
<div class="mb-3">
    <label for="Description" class="form-label">Description</label>
    <textarea name="listing[description]" rows="4"  class="form-control" style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;"> </textarea>
  </div>
  
  <div class="mb-3">
    <label for="imgage" class="form-label">image</label>
    <input name="listing[image]" placeholder="enter image/URL" class="form-control" class="form-control" style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;">
  </div>

  <div class="row">
  <div class="mb-3 col-4">
    <label for="title" class="form-label">price</label>
    <input type="number" name="listing[price]" placeholder="enter price" class="form-control" style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;">
  </div>

  <div class="mb-3 col-8">
    <label for="country" class="form-label">country</label>
    <input type="text" name="listing[country]" placeholder="enter country" class="form-control" style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;">
  </div>
  </div>

  <div class="mb-3">
    <label for="location" class="form-label">Location</label>
    <input type="text" name="listing[location]" class="form-control"placeholder="enter location" style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;">
  </div>

<button class=" mb-3 btn btn-dark add-btn">Add</button><!--add-btn=class of button-->
</form>
</div>
</div>