<% layout("/layouts/boilerplate") %>

<div class="rows mt-3">
    <div class="cols-6  offset-3">
        <form method="post" action="/signup" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="useraname" class="form-label">username</label>
                <input type="text" name="username"  class="form-control" style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;" required>
                <div class="valid-feedback">
                     Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="emial" class="form-label">emial</label>
                <input type="text" name="email"  class="form-control" style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">password</label>
                <input type="text" name="password"  class="form-control" style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;" required>
            </div>
            <button class="btn btn-success">signup</button>
        </form>
    </div>
</div>

